.container-flex {
  display: flex;
  flex-direction: column;
}

.main-container {
  background-color: lightblue;
  width: 250px;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  padding: 16px;
}

:host {
  background-color: gray;
}

.button-margin {
  margin-top: 8px;
}
