<div
  (click)="goToBusinessProfile(businessProfile.id)"
  class="row row-highlight"
  *ngIf="businessProfile"
>
  <div class="col-8">
    <h2>
      {{ businessProfile.title }}
    </h2>
    <article>
      {{ businessProfile.about }}
    </article>

    <div class="col">
      <article>
        {{ businessProfile.contactNumber }}
      </article>
    </div>
    <div class="col">
      <article>
        {{ businessProfile.rating }}
      </article>
    </div>
    <div class="col">
      <article>
        {{ businessProfile.address }}
      </article>
    </div>
  </div>

  <div class="col-4">
    <img src="./../../../assets/logos/logo.png" />
  </div>
</div>
